.h {
    color: red;
    text-align: center
}


#home {
    background-image: url(background.jpg);
    border-radius: 10px;
}

nav ul {
    display:flex;
    text-align:justify;
    gap: 30px;
    list-style-type: none;
    padding: 15px;
}

nav ul li a:hover {
    color: blue;
    background-color: rgb(187, 179, 179);
    display: block;
    padding-left: 30px;
    border-radius: 5px;
}
nav a{
    text-decoration: none;
}
.profile {
    position: center;
    height: auto;
    width: 80%;
    display: flex;

}

p {
    text-align: justify;
}

#about {
    text-align: center;
    border-radius: 15px;
    background-color: aliceblue;


}

.header {
    background-color: rgb(92, 132, 167);
    height: 100px;
    text-align:center;
    padding-top : 20px;
    border-radius: 15px;
}

#skills {
    background-color: rgb(102, 207, 207);
    padding: 20px;
    border-radius: 15px;
}
#resume{
    text-align: center;
    color: rgb(16, 16, 16);
    border-radius: 15px;
    background-color: blanchedalmond;
    padding: 30px;
}
button {
    background-color: rgb(8, 106, 192);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#contact{
    text-align: center;
    color: rgb(16, 16, 16);
    border-radius: 15px;
    background-color: rgb(159, 159, 47);
    padding: 5px;
    color: rgb(15, 13, 13);
    border-radius: 12px;
}
.container{
    text-align: center;
}
