.h {
    color: red;
    text-align: center
}


#home {
    background-image: url(BACK3.jpg);
    border-radius: 10px;
    color: white;
}

nav ul {
    display: flex;
    text-align: justify;
    gap: 1.5em;
    list-style-type: none;
    padding: 15px;
}

nav ul li a:hover {
    color: blue;
    background-color: rgb(187, 179, 179);
    display: block;
    padding-left: 30px;
    border-radius: 5px;
}


.profile {
    position: center;
    height: auto;
    width: 80%;
    display: flex;

}

p {
    text-align: justify;
}

#about {
    text-align: center;
    border-radius: 15px;
    background-image: url(background.jpg);


}

.header {
    background-color: rgb(92, 132, 167);
    height: 100px;
    text-align: center;
    padding-top: 20px;
    border-radius: 15px;
}

#skills {
    background-IMAGE: url(back.jpg);
    padding: 20px;
    border-radius: 15px;
    color: orange;
}

#resume {
    text-align: center;
    color: rgb(16, 16, 16);
    border-radius: 15px;
    background-color: blanchedalmond;
    padding: 30px;
}

button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#contact {
    text-align: center;
    color: rgb(18, 18, 18);
    border-radius: 15px
    border-color:brown;
}

    .container {
        text-align: center;
    }

    h3 {
        color: rgb(213, 221, 227);
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
    }